/* Reset CSS */

*, h1, h2, h3, h4, h5, h6, p, ul, a {
    margin: 0;
    padding: 0;
}


/* Typography - Defaults */

* {
    text-rendering: geometricPrecision;
}

html {
    font-size: 100%;
}

@media all and (max-width: 768px) {

    html {
        font-size: 87.5%;
    }

}

body {
    color: #3c3c3c;
    font-family: 'Gill Sans MT', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.625em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Century Gothic', 'Consolas', 'Arial', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
}

h1, .h1 {
    font-size: 4em;
    line-height: 1.015625em;
    margin-bottom: 0.40625em;
}

h2, .h2 {
    font-size: 2.8125em;
    line-height: 1.15555556em;
    margin-bottom: 0.57777777777778em;
}
h3, .h3 {
    font-size: 2em;
    line-height: 1.421875em;
    margin-bottom: 0.8125em;
}
h4, .h4 {
    font-size: 1.4375em;
    line-height: 1.41304348em;
}
h5, .h5 {
    font-size: 1em;
    line-height: 1.625em;
    margin-bottom: 1.625em;
}
h6, .h6 {
    font-size: 0.625em;
    line-height: 2.6em;
    font-weight: 400;
    margin-bottom: 2.36363636363636em;
}

@media all and (max-width: 767px) {

    h1, .h1 {
        font-size: 2.8125em;
        line-height: 1.15555556em;
    }
    h2, .h2 {
        font-size: 2em;
        line-height: 1.421875em;
    }
    h3, .h3 {
        font-size: 1.4375em;
        line-height: 1.625em;
    }
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-family: 'Gill Sans MT', 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-style: italic;
}

p, ul, ol, pre, table {
    margin-bottom: 1.625em;
}

blockquote {
    border-left: none;
    font-size: 1.4375em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.69565217391304em;
    margin: 0 0 1.625em;
    padding: 0;
}

ul {
    list-style: none;
}

ul.bullets {
    list-style: inside;
}

ol {
    font-size: 1.125em;
}

strong {
    font-weight: 600;
}

hr {
    border-color: rgba(168, 168, 168, .5);
    margin: 1.625em 0;
}

a {
    transition: all .15s linear;
}

a:hover, a:focus, a:active {
    opacity: .8;
    outline: none;
    text-decoration: none;
}

.text-warning {
    color: #ff8c13;
}


/* Other Init */

body {
    background: #f8f8f8;
    overflow-x: hidden;
}

img {
    margin-bottom: 1.625em;
    max-width: 100%;
}

img.width-full {
    height: auto;
    width: 100%;
}


/* Buttons */

.btn {
    background-color: transparent;
    border: 2px solid #e25462;
    color: #e25462;
    font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif;
    font-size: .8em;
    font-weight: 600;
    line-height: 1.625em;
    padding: 0.7em 3.25em .625em;
    text-transform: uppercase;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
}

.btn:hover, .btn:active, .btn:focus {
    color: #e25462;
    opacity: .9;
}

.btn-alternate {
    background-color: #e25462;
    border-color: #e25462;
    color: #ffffff;
}

.btn-alternate:hover, .btn-alternate:active, .btn-alternate:focus {
    color: #ffffff;
}


/* Navbar */

.navbar {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    min-height: 64px;
    padding: 0;
    transition: background .15s linear;
    z-index: 100;
}

.navbar.navbar-fixed-top {
    z-index: 101;
}

.navbar .navbar-header {
    padding-left: 60px;
}

.navbar .navbar-brand {
    font-size: 18pt;
    height: 64px;
    padding: 0;
}

.navbar .navbar-brand svg {
    display: inline;
    height: 50%;
    margin-top: 20%;
    width: auto;
}

.navbar .navbar-brand span {
    color: #e25462;
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
}

.navbar-toggle {
    border: none;
    font-size: 24px;
    height: 64px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 18px 30px;
}

.navbar .navbar-nav {
    margin: 0;
}

.navbar .navbar-nav > li {
    background: transparent;
    border: none !important;
}

.navbar .navbar-nav > li > a.btn {
    align-items: center;
    display: flex;
    margin-left: 25px;
    margin-top: 14px;
    margin-right: 25px;
    max-width: 200px;
    padding: 0.4em 1.25em;
}

.navbar .navbar-nav > li:not(:last-child) > a.btn {
    margin-right: 0;
}

.navbar .navbar-nav > li > a.btn:hover, .navbar .navbar-nav > li > a.btn:focus,
.navbar .navbar-nav > li > a.btn:active {
    background: none;
}

.navbar .navbar-nav > li > a.btn-alternate:hover, .navbar .navbar-nav > li > a.btn-alternate:focus,
.navbar .navbar-nav > li > a.btn-alternate:active {
    background-color: #e25462;
}

.navbar .navbar-nav > li > a:not(.btn) {
    align-items: center;
    color: #767676;
    display: flex;
    font-size: 14px;
    height: 64px;
    padding: 15px 25px;
    text-transform: uppercase;
}

.navbar .navbar-nav > li > a:not(.btn):after {
    background-color: #e25462;
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    transition: height .1s ease-out;
    width: 100%;
}

.navbar .navbar-nav > li > a:not(.btn):hover, .navbar .navbar-nav > li > a:not(.btn):focus,
.navbar .navbar-nav > li > a:not(.btn):active {
    background: none;
}

.navbar .navbar-nav > li > a:not(.btn):hover:after, .navbar .navbar-nav > li > a:not(.btn):focus:after,
.navbar .navbar-nav > li > a:not(.btn):active:after {
    height: 3px;;
}

@media (max-width: 768px) {
    .navbar-collapse {
        margin-bottom: 20px;
        max-height: 380px !important;
    }
}


/* Banner Section */

section.banner {
    background: #aebcdb linear-gradient(-30deg, #aebcdb, #a0d8eb);
    margin-top: 64px;
    padding: 80px 30px;
}

.banner i {
    color: #4b4b4b;
}

.banner h5 {
    color: #767676;
}


/* Banner Section */

section.test-section {
    padding: 110px 30px;
}

.test-table {
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden;
}

.test-table .row {
    background-color: #ffffff;
}

.test-table .col-md-4 {
    padding-bottom: 14px;
    padding-top: 14px;
}

.test-table .col-md-4:not(:first-child) {
    background-color: #e8e8e8;
}


/* Results Section */

section.results-section > .row > .col-md-6  {
    background-color: #aebcdb;
    padding: 100px 20px;
}

section.results-section > .row > .col-md-6:first-child  {
    border-top-right-radius: 50px;
}

section.results-section > .row > .col-md-6:last-child  {
    border-top-left-radius: 50px;
}

.result {
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.result > .result-title {
    background-color: #ffffff;
    height: 120px;
}

.result > .result-title h4 {
    color: #e25462;
    font-weight: 600;
}

.result > .result-param {
    background-color: #e8e8e8;
    height: 120px;
}

.result > * > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Interlude Section */

section.interlude {
    background-color: #a0d8eb;
    color: #ffffff;
    padding: 80px 30px;
}


/* Footer Section */

footer {
    padding: 20px 30px;
}


/* Forms and Input */

input[type="text"], input[type="email"], input[type="password"], textarea, select, input[type="tel"], input[type="number"],
input[type="url"], input[type="search"], input[type="file"] {
    background: rgba(255, 255, 255, .9);
    border: none;
    border-radius: 2px;
    margin-bottom: 0.5em;
    padding: .425em 0.8125em;
    font-weight: 600;
}


/* Loading animation */

.spinner:before {
    animation: loading-spinner 2s linear infinite;
}

@keyframes loading-spinner {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}