{% if is_valid %}
    <section class="results-section">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="result">
                            <div class="result-title">
                                <div>
                                    <h4>P-Value</h4>
                                    <h6>(Range from 0 - 1)</h6>
                                </div>
                            </div>
                            <div class="result-param">
                                <div>
                                    <h4>{{ p_value }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="result">
                            <div class="result-title">
                                <div>
                                    <h4>Significant?</h4>
                                </div>
                            </div>
                            <div class="result-param">
                                <div>
                                    <h4>{{ is_significant }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <script>alert('Invalid parameters')</script>
{% endif %}